@use "../../../css/queries.scss";
@import "../../../css/queries.scss";

.hiddenMobile {
  @include mid-break {
    visibility: hidden;
    width: 0px;
  }
}

.hamburger {
  display: none;
  @include mid-break {
    display: contents;
  }
}

.sheet {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 24px;
}
