@use "../../../css/queries.scss";
@import "../../../css/queries.scss";

.contactContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: hsl(var(--tan-base));
  margin-bottom: 104px;

  @include small-break {
    margin-bottom: 40px;
  }
}
.contact {
  width: auto;
  height: auto;
  @include small-break {
    display: flex;
    flex-direction: column;
  }

  @include mid-break {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 1042px) and (max-width: 1305px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @include large-break {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.image {
  @include small-break {
  }
  @include mid-break {
    min-width: 100%;
    height: 413px;
    object-fit: cover;
    object-position: center;
  }
  @include large-break {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 430px;
    object-fit: cover;
    object-position: center;
    // min-height: 421px;
  }
}

.body {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 32px;
  @include small-break {
    padding: 32px;
    h1 {
      font-size: 32px;
    }
  }
  @include mid-break {
    padding: 72px;

    h1 {
      font-size: 32px;
    }
    p {
      font-size: 16px;
    }
  }
  @media (min-width: 1042px) and (max-width: 1305px) {
    padding: 72px;

    h1 {
      font-size: 32px;
    }
    p {
      font-size: 16px;
    }
  }
  @include large-break {
    padding: 72px;
    min-width: 525px;

    h1 {
      font-size: 40px;
    }
    p {
      font-size: 20px;
    }
  }
}

.button {
  @include small-break {
    display: none;
  }
}
