@use "./css/queries.scss";
@import "./css/queries.scss";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  margin: 0 72px;
  @include small-break {
    margin: 0 32px;
  }
}
.hiddenMobile {
  @include mid-break {
    visibility: hidden;
    width: 0px;
  }
  @include small-break {
    visibility: hidden;
    width: 0px;
  }
}

.hamburger {
  display: none;
  @include small-break {
    display: contents;
  }
  @include mid-break {
    display: contents;
  }
}

.sheet {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 24px;
}
