@use "./css/queries.scss";
@import "./css/queries.scss";

.navContainer {
  display: flex;
  justify-content: space-between;
  margin-inline: 72px;
  @include small-break {
    margin-inline: 32px;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  @include small-break {
    max-width: 104px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  margin: 0px;
  z-index: 10;
  @include large-break {
  }

  @include mid-break {
    gap: 24px;
  }

  @include small-break {
    gap: 24px;
  }
}

.mobileNavContainer {
  display: flex;

  @include large-break {
    display: none;
  }
  @include mid-break {
    display: contents;
  }
  @include small-break {
    display: contents;
  }
}

.hiddenMobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 60px;
  font-size: 24px;
  @include mid-break {
    display: none;
  }
  @include small-break {
    display: none;
  }
}

.hamburger {
  display: none;

  @include small-break {
    display: contents;
  }
  @include mid-break {
    display: contents;
    width: 32px;
    height: 32px;
  }
}

.sheet {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 24px;
  color: hsl(var(--black-base));
}

.materialsMenu {
  width: 300px;
  span {
    font-family: var(--font-montserrat);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.48px;
  }
}

.mobileSheet {
  width: 300px;
  h3 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    color: hsl(var(--black-base));
  }
  span {
    font-size: 20px;
    font-family: var(--font-openSans);
    font-weight: 400;
    color: hsl(var(--black-base));
  }
}
