@use "../../../css/queries.scss";
@import "../../../css/queries.scss";

.sectionContainer {
  position: relative;
  margin-bottom: 32px;
  @include mid-break {
    margin-bottom: 64px;
  }
  @include large-break {
    margin-bottom: 104px;
  }
}

.carousel {
  position: relative;
  height: 720px;
  @include mid-break {
    // max-height: 470px;
    // margin-bottom: 104px;
    height: 100%;
  }
  @include large-break {
    // max-height: 470px;
    height: 100%;
    // margin-bottom: 104px;
  }
}

.carouselContent {
  max-height: min-content;
  @include mid-break {
    // max-height: 470px;
  }
  @include large-break {
    // max-height: 470px;
  }
}

.imageContainer {
  max-width: 100%;
  // max-height: 266px;
  // overflow: hidden;
  // width: calc(50%);
  @include mid-break {
    // max-height: 470px;
    min-width: calc(50%);
  }
  @include large-break {
    // max-height: 800px;
    min-width: calc(50%);
    // max-width: calc(50%);
  }
}

.image {
  width: 100%;
  height: 100%;
  // object-fit: cover;
  object-position: center;

  @include mid-break {
    height: 470px;
  }
  @include custom-break-1180-769 {
    // transform: translateY(30px);
    // scale: 0.8;
    object-fit: contain;
  }
  @include large-break {
    // height: 470px;
    max-height: 600px;
  }
}

.textContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 40px 32px;
  padding: 0 34px 36px;
  @include custom-break-1180-769 {
    margin: 64px 40px;
    padding: 0 36px 32px;
  }
  @include mid-break {
    // flex: 1;
    margin: 64px 40px;
    padding: 0 36px 32px;
    // max-width: calc(50%);
  }
  @include large-break {
    gap: 40px;
    margin: 80px 144px 80px 40px;
    padding: 0 24px 32px;
  }
  h1 {
    color: var(--Text-Primary, #2c2d31);

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.48px;

    @include mid-break {
      font-size: 32px;
    }
    @include custom-break-1068-768 {
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.48px;
    }
    @include large-break {
      font-size: 32px;
    }
  }
  p {
    color: var(--Text-Secondary, #5c5d6d);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
    @include mid-break {
      font-size: 20px;
    }
    @include custom-break-1068-768 {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.32px;
    }
    @include large-break {
      font-size: 20px;
    }
  }
}

.prev {
  transform: translateY(7.6rem) translateX(1.3rem);
  @include mid-break {
    transform: translateY(0rem) translateX(1.4rem);
    fill: antiquewhite;
    color: antiquewhite;
  }
  @include large-break {
    transform: translateY(0rem) translateX(1.4rem);
    fill: antiquewhite;
    color: antiquewhite;
  }
}

.next {
  transform: translateY(7.6rem) translateX(-1.2rem);
  @include mid-break {
    transform: translateY(0rem) translateX(-1.4rem);
  }
  @include large-break {
    transform: translateY(0rem) translateX(-5rem);
  }
}

// .indicatorContainer {
//   position: absolute;
//   left: 41vw;
//   bottom: 40px;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   gap: 12px;
//   @include mid-break {
//     left: 45.5vw;
//   }
//   @include large-break {
//     left: 45.5vw;
//   }
// }

.indicatorContainer {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  @include small-break {
    bottom: 32px;
  }
}
