@use "../../../css/queries.scss";
@import "../../../css/queries.scss";

.sliderContainer {
  overflow: hidden;
  height: 100px;
  position: relative;
  width: 70%;

  @include large-break {
    flex-direction: column;
  }

  @include mid-break {
    width: max-content;
    height: 80px;
  }
  @include small-break {
    height: 80px;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  width: max-content;
  justify-content: start;
  transition: transform 0.5s ease-in-out;
  @include mid-break {
    // height: 250px;
    justify-content: center;
    align-items: start;
  }
  @include small-break {
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
  }
  @include extra-small-break {
    max-width: 100%;
    overflow: hidden;
  }
}

.line {
  height: 100px;
  display: flex;
  color: var(--Primary, #307084);
  font-family: var(--montserrat);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @include large-break {
    width: 1000px;
    // justify-content: center;
    align-items: center;
    // height: ;
  }

  @include mid-break {
    // height: 110px;
    // justify-content: center;
    align-items: center;
  }
  @include small-break {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    max-width: 340px;
  }
}
